.body{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

img{
  display:block;
}

a{
  text-decoration: none;
}

.home_header_inner{
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}

.home_header{
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
}

.header_logo{
  height:75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
}

.sub_menu{
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}

.menu{
  display: flex;
}

.menu li{
  position: relative;
}
.menu li::before{
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu li:first-child::before{
  display: none;
}

.menu li a{
  font-size: 12px;
  padding: 11px 16px;
  display:block;
  color: #656565;
}

.menu li a:hover{
  color: #000;
}

.search{
  height: 34px;
  position: relative;
}

.search input{
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}

.search input:focus{
  width: 190px;
  border-color: #669900;
}


.icon{
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 5px;
}
